.dp {
  overflow-y: hidden;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  transition: 0.5s;
  padding-bottom: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(196, 144, 217, 0.4);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
}
.dp:hover {
  width: 320px;
}
.gma,
.thi,
.elf {
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  width: 275px;
  transition: 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
  overflow: hidden;
  margin-right: 10px;
}
.aud {
  backdrop-filter: blur(10px);
  display: inline-block;
  vertical-align: top;
  width: 300px;
  transition: 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
  overflow: hidden;
  margin-right: 10px;
}
.gma:hover,
.thi:hover,
.elf:hover,
.aud:hover {
  width: 320px;
  border-radius: 20px;
  padding-left: 50px;
}
.gm {
  width: 250px;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}
.gm:hover {
  width: 280px;
  height: 300px;
  padding-left: 10px;
  object-fit: cover;
  border-radius: 10px;
}
.th {
  width: 250px;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}
.th:hover {
  width: 280px;
  height: 300px;
  padding-left: 10px;
  object-fit: cover;

  border-radius: 10px;
}
.el {
  width: 250px;
  height: 200px;
  object-fit: cover;
  transition: 0.6s;
  opacity: 0;
}
.elft {
   
  opacity: 0;
  transition: 1s;
}
.elft:hover {
  opacity: 1;
}
.el:hover {
  width: 280px;
  height: 300px;
  padding-left: 10px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 1;
}
.cont1 {
  background-image: url(sample\ pictures\ for\ proj/ghibli.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.vid {
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: inline-block;
  transform: scale(1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.vid:hover {
  transform: scale(1.2);
}
.video {
  object-fit: contain;
  margin-left: 25px;
  width: 300px;
  height: 400px;
  display: inline-block;
  border-radius: 16px;
  transform: scale(1);
  transition: 0.2s;
}
.video:hover {
  transform: scale(1.2);
}
/* .bat:hover > :not(:hover) {
  filter: blur(3px);
  opacity: 0.5px;
  transition: 0.3s;
} */
.butt:hover > :not(:hover) {
  filter: blur(3px);
  opacity: 0.5;
  transition: 0.3s;
  transform: scale(0.8);
}
.sidebar {
  overflow: hidden;
  position: fixed;
  opacity: 0;
  display: flex;
  background-color: rgba(140, 57, 218, 0.3);

  z-index: 1;
  width: 50px;
  height: 650px;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  top: 130px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  bottom: -40px;
  left: 0px;
  transition: 0.3s;
  align-items: center;
}
.sidebar:hover {
  width: 150px;
  opacity: 1;
}
.kk {
  width: 350px;
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
  object-position: 0px 0px;
  margin-top: 20px;
}
.kk:hover{
  width:400px;object-position: 0px 0px;
}
.kkclass{
  display: inline-block;
              width: 350px;
              backdrop-filter:blur(10px) ;
              border-radius: 10px;
              border-left: 1px solid white;
              border-right: 1px solid white;
              height: 250px;
              padding-bottom: 100px;
              margin-left: 10px;
              background-color: transparent;transition:0.3s;

}
.kkclass:hover{
  width: 400px;
}
.hme {
  display: flex;
  align-items: center;
}
.head {
  text-align: center;
  margin-top: 0px;
  position: fixed;
  top: 0px;
  z-index: 2;
  font-size: 90px;
  width: 100vw;
  margin-bottom: 0px;
  background-image: url(sample\ pictures\ for\ proj/8564ffe4e8e749363f5ed0ac49f6c266.png);
  color: wheat;
  background-position: 0px -37px;
}
.bottom{
  backdrop-filter: blur(10px);
  box-shadow:0px 5px 55px rgba(0, 0, 0, 1) ;
  width: 230px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  scrollbar-color: transparent transparent;
  height: 300px;
 
  padding-left: 70px;
  margin-top: 10px;
  margin-left: 70px;
  overflow-y:hidden;
  transition: 0.5s;
}
.bottom:hover{
  width: 80%;
  height: 380px;
}
.bottom:hover>.text{
  opacity: 1;

}
.bottom:hover>.ign{
  animation-name: heartbeat;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  

 
}
.text{
  display: inline-block;
  width: 500px;
  color: black;
  opacity: 0;
  transition: 0.5s;
}

.spa 
{

  width: 400px;
  color: transparent;
}
.box{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.ign{
  width: 300px;
  height: 300px;
  
}
.spi{
  width: 300px;
  height: 300px;
  
  object-fit: cover;
  opacity: 0;
  position: absolute;
  right: 0;
  animation: slideshow 16s infinite;

}

 
@keyframes heartbeat{
  0%{
    transform: scale(1);
  }
  50%{
    border-radius: 30px;
    transform: scale(1.2);
  }
  75%{
    border-radius: 50px;
    transform: scale(1.1);
  }
  80%{
    border-radius: 30px;
    transform:scale(1.2);
  }
  100%
  {
    transform: scale(1);
  }
}
.spi:nth-child(1) {
  animation-delay: 0s;
}
.spi:nth-child(2) {
  animation-delay: 4s;
}
.spi:nth-child(3) {
  animation-delay: 8s;
}
.spi:nth-child(4) {
  animation-delay: 12s;
}

@keyframes slideshow {
  0% { opacity: 0; }
  5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}
.closebutton{
  width: 100px;
  border-left: white solid 3px;
  border-right: white solid 3px;
  font-size: large;
  border-top-left-radius:10px ;
  border-bottom-right-radius: 10px;
    background-color: transparent;
  backdrop-filter: blur(20px);
  color: white;
  height: 30px;
}
/* 
.alert{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.container{
  display: flex;
  height: 500px;justify-content:space-evenly;
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 20px;
  border-top-right-radius:20px ;
  border-left: white solid 3px;
  border-bottom: black solid 3px;
  border-top: black solid 3px;
  border-right: white solid 3px;
  transition:0.3s;
  
  
}
.container:hover > :not(:hover){
  filter: blur(3px);
  opacity: 0.5;
  transition: 0.5s;
  
}
.clip1,.clip2,.clip3,.clip4{
  height: 100%;
  width:15% ;
  display: flex;
  overflow: hidden;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  
  border-radius: 50px;
  filter: grayscale(1);
  transition: 0.3s;
}

.clip1:hover{
width: 25%;
transform: scale(1.2);
filter: grayscale(0);
}
.clip2:hover{
width: 25%;
transform: scale(1.2);
filter: grayscale(0);
}
.clip3:hover{
width: 25%;
transform: scale(1.2);
filter: grayscale(0);
}
.clip4:hover{
width: 25%;
transform: scale(1.2);
filter: grayscale(0);
}
