.dp {
  overflow-y: hidden;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  transition: 0.5s;
  padding-bottom: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(196, 144, 217, 0.4);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
}
.dp:hover {
  width: 320px;
}
.gma,
.thi,
.elf {
  backdrop-filter: blur(10px);
  display: inline-block;
  vertical-align: top;
  width: 275px;
  transition: 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
  overflow: hidden;
  margin-right: 10px;
}
.aud {
  backdrop-filter: blur(10px);
  display: inline-block;
  vertical-align: top;
  width: 300px;
  transition: 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
  overflow: hidden;
  margin-right: 10px;
}
.gma:hover,
.thi:hover,
.elf:hover,
.aud:hover {
  width: 320px;
  border-radius: 20px;
  padding-left: 50px;
}
.gm {
  width: 250px;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}
.gm:hover {
  width: 280px;
  height: 300px;
  padding-left: 10px;
  object-fit: cover;
  border-radius: 10px;
}
.th {
  width: 250px;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}
.th:hover {
  width: 280px;
  height: 300px;
  padding-left: 10px;
  object-fit: cover;

  border-radius: 10px;
}
.el {
  width: 250px;
  height: 200px;
  object-fit: cover;
  transition: 0.6s;
  opacity: 0;
}
.elft {
  opacity: 0;
  transition: 1s;
}
.elft:hover {
  opacity: 1;
}
.el:hover {
  width: 280px;
  height: 300px;
  padding-left: 10px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 1;
}
.cont1 {
  background-image: url(sample\ pictures\ for\ proj/ghibli.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.vid {
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: inline-block;
  transform: scale(1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.vid:hover {
  transform: scale(1.2);
}
.video {
  object-fit: contain;
  margin-left: 25px;
  width: 300px;
  height: 400px;
  display: inline-block;
  border-radius: 16px;
  transform: scale(1);
  transition: 0.2s;
}
.video:hover {
  transform: scale(1.2);
}
/* .bat:hover > :not(:hover) {
  filter: blur(3px);
  opacity: 0.5px;
  transition: 0.3s;
} */
.butt:hover > :not(:hover) {
  filter: blur(3px);
  opacity: 0.5px;
  transition: 0.3s;
  transform: scale(0.8);
}
.sidebar {
  overflow: hidden;
  position: fixed;
  opacity: 0;
  display: flex;
  background-color: rgba(140, 57, 218, 0.3);

  z-index: 1;
  width: 50px;
  height: 650px;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  top: 130px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  bottom: -40px;
  left: 0px;
  transition: 0.3s;
  align-items: center;
}
.sidebar:hover {
  width: 150px;
  opacity: 1;
}

.hme {
  display: flex;
  align-items: center;
}
.head {
  text-align: center;
  margin-top: 0px;
  position: fixed;
  top: 0px;
  z-index: 2;
  font-size: 90px;
  width: 100vw;
  margin-bottom: 0px;
  background-image: url(sample\ pictures\ for\ proj/8564ffe4e8e749363f5ed0ac49f6c266.png);
  color: wheat;
  background-position: 0px -37px;
}
