.headot{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.head{
    color: rgb(203, 199, 199);
    padding-top: 20px;
    padding-bottom: 20px;
    

}

.headot:hover> .headsp{
    transform: scale(1.1);background-color: rgba(255, 12, 219, 0.126);
}
.headsp{
    width: 25%;
    text-align: center;
    border-radius: 20px;
    
    transition: 0.3s;
}
.buttonhome{
    width: 15%;
    height: 50px;
    background-color: rgba(12, 12, 255, 0.259);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
.body{
    background-image: url(imgsrc/full-moon-clouds-pink-sky-scenic-aesthetic-3840x2160-1653.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.image{
    object-fit: cover;
    
}
.box{
    width: 23%;
    height: 250px;display: flex;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 10px;
    transition: 0.3s;
    justify-content: center;
    
}

.box:hover{
    border-left: 0px;
    border-bottom: 0px;
    border-right: 1px solid white;
    border-top: 1px solid white;
    backdrop-filter: blur(10px);
    transform: scale(1.2);
    background-color: rgba(255, 0, 162, 0.119);
    box-shadow: 6px 15px 5px rgba(0, 0, 0, 0.189);
}
.container{
    width: 100%;
    height: 200px ;
    margin-top: 50px;
    justify-content: space-evenly;
    display: flex;
    
}
.sidebar{
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 10px;
    backdrop-filter: blur(10px);
    margin-left:-10px ;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.145);
    border-radius: 10px;
    position: fixed;
    opacity: 0;
    transition: 0.3s;
}
.buttons{
    width: 70px;
    height: 35px;
    border-left:1px solid white;
    border-bottom: 1px solid white;
    background-color: black;
    color: white;
    transition: 0.2s;
}
.buttons:hover{
    background-color: grey;
}
.buttons:active{
    background-color: white;
    border-left: 2px solid black;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid black;
}
.sidebar:hover{
    opacity: 1;
    border-right: 0.5px solid white;
     width: 200px;
}
.box1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}
.center{
    display: flex;
    
    height: 500px;
    border-right: 1px solid white;
    border-left:1px solid white ;
    margin-top: 70px;
    animation: scrolli;
    animation-timeline:view() ;
    
}
@keyframes scrolli{
    0%{width: 50%;
        backdrop-filter: blur(0px);
    border-radius: 200px;}
    50%{

        width: 100%;
        backdrop-filter: blur(10px);
        border-radius: 10px;

    }
    100%{
        width: 50%;
        backdrop-filter: blur(0px);
        border-radius: 200px;
    }
}
